<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
	<script src="main.js"></script>
</body>
</html>

<!--


<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="styles_dist.css">
</head>
<body>
    
    <h1 class="text-7xl text-center pt-10">Hello TailwindCSS</h1>
    <h1 class="text-9xl text-blue-500 text-center">Hello World!!</h1>
    
</body>
</html>
-->